@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@* @inject RoleManager<IdentityRole> RoleManager *@

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        Hello @User.Identity.Name!
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-controller="Member" asp-action="Logout">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Member" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Member" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Member" asp-action="SocialLogin">Google Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Member" asp-action="SocialLogin" asp-route-Provider="pwa">PWA LDAP</a>
    </li>
}
</ul>
