@using Mvcday1.Controllers
@{    
    ViewData["Title"] = "Home Page";
    @* var message =  ViewData["Message"] as TestData; *@
    
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewData["Info"]</p>
    @* <p>@ViewData["Info"]</p>
    <p>@ViewBag.Data</p>
    <p>@message.Message</p> *@
</div>
